body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #ecf0f3;
}
h1 {
  font-size: 2.5rem;
  width: 85%;
  margin: auto;
}

.login-section {
  height: 100vh;
  display: grid;
  place-items: center;
  align-items: center;
}

.login-card {
  width: 55%;
  margin: auto;
  border-radius: 15px;
  background: #ecf0f3;
  box-shadow: -13px -13px 20px #ffffff, 13px 13px 20px #cbced1;
}
.input-form {
  text-align: center;
}
input {
  width: 85%;
  margin: 4% 0;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 8px;
  background: #ecf0f3;
  border: none;
  outline: none;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
}
input[type="submit"] {
  box-shadow: -4px -4px 4px #ffffff, 4px 4px 4px #cbced1;
}

.four-oh-four-section {
  margin-top: calc(50vh - 5rem);
  text-align: center;
}
.message {
  font-size: 6rem;
}

.reflection {
  transform: rotateX(180deg) translateY(15px);
  font-size: 6rem;
  mask-image: linear-gradient(transparent 50%, white 90%);
  filter: blur(4px);
}
