<li>
    {{burger.burger_name}}
    <button class="devoured" data-id="{{burger.id}}" data-nowDevoured="{{burger.devoured}}" aria-disabled="disabled">
        {{#if burger.devoured}}YUM!!{{else}}EAT IT!!{{/if}}
    </button>
</li>